* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Regular.ttf);
}

.container {

}

.page__header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 165px;
    border-bottom: 1px solid #DDDDDD;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.navigation p {
    color: #4C5866;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navigation__items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.navigation__items img {
    width: 24px;
    height: 24px;
}

.main-screen {
    height: 620px;
    display: flex;
    flex-direction: row;
    padding: 0 165px;
    align-items: center;
}

.main-screen__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-screen__description h1 {
    color: #4C5866;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 60px */
}

.main-screen__description p {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.btn {
    width: 255px;
    height: 70px;
    color: #7875FE;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #7875FE;
    background-color: #ffff;
    padding: 20px 50px;
}

.main-screen__picture {
    width: 540px;
}

.info {
    background-color: #EBEBEB;
    padding: 90px 125px;
}

.info__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 90px;
}

.info__list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.card-img {
    width: 160px;
    height: 118px;
}

.card-text strong {
    color: #666;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.card-text p {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.info__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info__image h2{
    color: #666;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
    padding-bottom: 20px;
}
.info__image p{
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
}
.products{
    display: flex;
    flex-direction: row;
    padding: 90px 125px;
    gap:30px;
}
.products__item{
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 465px;
}
.products__item__image{
    width: 255px;
    height: 180px;
    padding-bottom: 20px;
}
.products__item strong{
    color: #666;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 8px;
}
.products__item__count{
    color: #B5B5BD;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 8px;
}
.products__item__description{
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
    padding-bottom: 20px;
}
.products__item a{
    color: #7875FE;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}