* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Regular.ttf);
}

.page__header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 165px;
    border-bottom: 1px solid #DDDDDD;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.navigation p {
    color: #4C5866;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navigation__items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.navigation__items img {
    width: 24px;
    height: 24px;
}